
### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon


._*
.Spotlight-V100
.Trashes

### SublimeText ###
# SublimeText project files
*.sublime-workspace

### Ruby ###
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp/*.jpg
tmp/restart.txt

# YARD artifacts
.yardoc
_yardoc
doc/

.env
.sass-cache