<!doctype html>
<html>

  <head>

    <title>Feeling cagey?</title>

    <meta name="viewport" content="initial-scale=1, user-scalable=no">

    <script type="text/javascript" src="//use.typekit.net/ila6rne.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="/css/application.css">

  </head>

  <body>

    <header>

      <h1>FEELING CAGEY?</h1>

    </header>

    <div class="pure-g-r grid"></div>

    <div class="loading">LOADING MEDIA</div>

    <footer>

      <div class="description">
        A live stream of Instagram selfies with a twist.
      </div>
      
      <div class="legal">
        This product uses the Instagram API but is not endorsed or certified by Instagram. All data is anonymised and permanently destroyed 5 minutes after being received.
      </div>
      
      <div class="contact">
        by <a href="//twitter.com/mcmillatronic">@mcmillatronic</a> &middot; <a href="mailto:josh@mcmillan.xxx">josh@mcmillan.xxx</a>
      </div>

    </footer>

    <script>
      var PUSHER_KEY = '<%= ENV["PUSHER_KEY"] %>';
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js"></script>
    <script src="/js/application.js"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45621605-1', 'feelingcagey.com');
      ga('send', 'pageview');
    </script>

  </body>

</html>