<!doctype html>
<html>

  <head>

    <!-- Get the oh-so-saucy sauce at github.com/joshmcmillan/feeling_cagey -->

    <meta charset="utf-8">

    <title>Feeling cagey?</title>

    <meta name="viewport" content="initial-scale=1, user-scalable=no">

    <meta property="og:title" content="Feeling Cagey?">
    <meta property="og:description" content="A live stream of Instagram selfies with a twist.">
    <meta property="og:url" content="http://feelingcagey.com/">
    <meta property="og:image" content="http://feelingcagey.com/img/open-graph.png">

    <meta property="fb:admins" content="600859899">

    <script type="text/javascript" src="//use.typekit.net/ila6rne.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="/css/application.css?v=2">

  </head>

  <body>

    <header>

      <h1>FEELING CAGEY?</h1>

      <div class="description">
        A live stream of Instagram selfies with a twist.
      </div>

    </header>

    <div class="pure-g-r grid"></div>

    <div class="loading">LOADING MEDIA</div>

    <footer>
      
      <div class="disclaimer">
        This product uses the Instagram API but is not endorsed or certified by Instagram. All data is anonymised and permanently destroyed 5 minutes after being received. To prevent your photos appearing here, contact <a href="mailto:help@feelingcagey.com">help@feelingcagey.com</a>
      </div>
      
      <div class="contact">

        <a href="http://jobs.gamaroff.com" class="gamaroff" target="_blank">
          <img src="/img/gamaroff.png" style="height: 14px;">
        </a>

        <div class="credits">
          Created by <a href="//twitter.com/mcmillatronic" target="_blank">@mcmillatronic</a>.
          You should <a href="//twitter.com/intent/tweet?url=http%3A%2F%2Ffeelingcagey.com&amp;related=mcmillatronic&amp;hashtags=FeelingCagey&amp;text=I'm%20feeling%20pretty%20cagey." target="_blank">tweet this</a>.
        </div>

        <a href="http://pusher.com" class="pusher" target="_blank">
          <img src="/img/pusher.png" style="height: 17px;">
        </a>

      </div>

    </footer>

    <script>
      var PUSHER_KEY = '<%= ENV["PUSHER_KEY"] %>';
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js"></script>
    <script src="/js/application.js?v=2"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45621605-1', 'feelingcagey.com');
      ga('send', 'pageview');
    </script>

  </body>

</html>