<!doctype html>
<html>

  <head>

    <title>Feeling cagey?</title>

    <meta name="viewport" content="initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="/css/application.css">

  </head>

  <body>

    <header>

      <h1>Feeling Cagey?</h1>

    </header>

    <div class="grid"></div>

    <footer>

      <div class="description">This is a live stream of public Instagram selfies, all of which have Nicolas Cage's head superimposed on them.</div>
      <div class="legal">This product uses the Instagram API but is not endorsed or certified by Instagram. Potentially NSFW, blame Miley Cyrus.</div>

    </footer>

    <script>

    var PUSHER_KEY = '<%= ENV["PUSHER_KEY"] %>';

    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//js.pusher.com/2.1/pusher.min.js"></script>
    <script src="/js/application.js"></script>

  </body>

</html>